.choix{
	background-color:white;
	width: 1.5em;
	height: 1.5em;
	/*border-radius:50%;*/
	display : inline-block;
	text-align: center;
	margin-left :30%;
}
#logo{
	margin-left: 5%;
}
.card-body{
	background-color: #333333;
	border-color :#333333;
	color: white !important;
}
.card-header{
	color :#ffffff;
	font-weight: 500;
	background-color:#333333;
}
.h4.mb-0.text{
	color:#ffffff;
	font-weight: 500;
	font-size: 25px;
}
.card.mb-3.f{
	border-color: #1b1b1b;
}
.list-group.list-group-flush.small{
	color:#333333;
}
.media-body{
	color:white;
}
.list-group-item.list-group-item-action{
	color: white;
}

.card.mb-3.v{
	border-color:#1b1b1b;
}
.editeur{
	color :#f45b63;
}
.jeu{
	color :#f45b63;
}
.log:hover{
	color:#f45b63;
}
.editeur:hover{
	color :#f45b63;
}
.jeu:hover{
	color :#f45b63;
}
.log{
	color:#f45b63;
}
.ajout{
	width: 20%;
	display: inline-block;
	position: absolute;
	right: 0px;
	padding-top: 12px;
	color :#f45b63;
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.ajout:hover{
	width: 20%;
	display: inline-block;
	position: absolute;
	right: 0px;
	padding-top: 12px;
	color :#f45b63;
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.card-header.v{
	display:none;
}
.card.mb-3.pc{
	width : 50%;
	left : 5%;
}
.col-sm-4.text-center.my-autos{
	position:absolute;
}
#myPieChart{
	width: 500px!important;
	height: 500px!important;
}
.card-header:first-child{
    border:none;
    color:white;
    background-color:#333333;
}


/*connexion*/

.bg-connect{
    background-color:#333333 !important;
}
#login_id{
    border-color: #f45b63 ;
    border-radius: 5px;
    padding: 7px;
}
#password_id{
    border-color: #f45b63 ;
    border-radius: 5px;
    padding: 7px;
}
/*#{
    margin-left: -1.5%;
}*/

/* Boutton */


.onoff {
  margin-left: -27px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  cursor: pointer;
  width: 55px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.onoff label {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #cd3c3c;
  border-radius: 5px;
  font-weight: bold;
  color: #FFF;
  -webkit-transition: background 0.3s, text-indent 0.3s;
  -moz-transition: background 0.3s, text-indent 0.3s;
  -o-transition: background 0.3s, text-indent 0.3s;
  transition: background 0.3s, text-indent 0.3s;
  text-indent: 27px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
}
.onoff label:after {
 
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  font-size: 12px;
  color: #591717;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
  z-index: 1;
}
.onoff label:before {
  content: '';
  width: 15px;
  height: 24px;
  border-radius: 3px;
  background: #FFF;
  position: absolute;
  z-index: 2;
  top: 3px;
  left: 3px;
  display: block;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.onoff input:checked + label {
  background: #378b2c;
  text-indent: 10px;
}
.onoff input:checked + label:after {
  
  color: #091707;
}
.onoff input:checked + label:before {
  left: 37px;
}